.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* nabar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar__title {
  font-family: 'Montserrat', sans-serif;
}

.navbar__button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.navbar__button:hover {
  background-color: #0056b3;
}
/* nav bar */

/* form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

select {
  font-size: 16px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 20px;
}

button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
/* form end */